<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bot.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/botchat.js" defer></script>

    <title>Document</title>
</head>

<body>
    <h2>Bot sobre - Erradicação da pobreza.</h2>
    <section class="Container">
        <div class="BoxFormulario">
            <form id="formulario">
                <input placeholder="Digite uma mensagem:" type="text" id="campo">
                <input type="submit" value="Enviar">
        </div>
    </section>
        <section id="Infos"> 
            <a href="./respostas">VEJA O QUE EU JA SEI RESPONDER</a>
        </section>
        <div><strong>Crebson:</strong> Olá eu sou o bot Crebson!</div>
        <div><strong>Crebson:</strong> Em que posso ajudar?</div>
    </form>
</body>

</html>