{%extends 'base.html'%}
{%block content%}
 <a href="/pos2">


                            <h2 class="post-title">O que é a erradicação da pobreza</h2>
                            <h3 class="post-subtitle">Acabar com a pobreza em todas as suas formas, em todos os lugares. Este segue sendo um dos principais desafios enfrentados pela humanidade, e por isso é o primeiro dos objetivos da Organização das Nações Unidas – ONU para 2030.
                            </h3>

                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Estudantes FICR</a>
                            30-05-2022
                        </p>

<a href="/post">


                            <h2 class="post-title">Metas da ONU para a erradicação da pobreza.</h2>
                            <h3 class="post-subtitle">Descubra os objetivos da ONU à fim de combater a pobreza mundial</h3>

                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Estudantes FICR</a>
                            28-05-2022
                        </p>



{%endblock%}


