{%extends 'base.html'%}
{%block content%}
 <a href="/ranking8profissoesquemaispagamnati">


                            <h2 class="post-title">Top 8 funções mais Lucrativas do Mundo na TI</h2>
                            <h3 class="post-subtitle">Conheça as 8 Funções mais lucrativas com Dica Bonus no final</h3>

                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Seja Programador</a>
                            05-04-2022
                        </p>

<a href="/post">


                            <h2 class="post-title">12 Dicas de como ser um Programdor em 2022 e conseguir seu Primeiro emprego</h2>
                            <h3 class="post-subtitle">Descubra a verdade que ninguem te conta sobre como ser um DEV</h3>

                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Seja Programador</a>
                            25-03-2022
                        </p>



{%endblock%}


