{%extends "basepost.html" %}
{%block titulo%}
<h1 style="margin-top: -120px";> Top 8 funções mais Lucrativas do Mundo na TI.</h1>
{%endblock%}
{%block post%}

<h2 class="section-heading">Você sabe quais são as 8 Funções que mais pagam no mercado de TI? </h2>
<p>Se não, fica comigo até o final que você vai descobrir e quem sabe direcionar melhor sua carreira ou sua migração de carreira.</p>
<p>Com todo esse caos que nos acomete nesses dois últimos anos, pessoas saíram do escritório e começaram a trabalhar só em casa, mas algumas que trabalhavam direto com o público não conseguiram realizar este feito, e isso despertou os olhares, e alavancou muito a migração de funções para TI.</p>
<blockquote class="blockquote">Em 2021 o mercado de TI movimentou mais de 5 trilhões de dólares. E para 2022, a tendencia é só aumentar.
Essa Pesquisa foi utilizada como referência os EUA, pois é o País que é seguido e referência para nós do Brasil e muitos outros pelo mundo a fora.
</blockquote>
<p>Essa lista não só é numerada pelo salário, mas também pela satisfação das pessoas que trabalham e quantidade de vagas. Eu não coloquei quais empresas contratam esses profissionais porque todas empresas de médio e grande porte contratam, exemplo: Google, amazon, bancos, Microsoft, Facebook(meta) etc.</p>

<h2 class="section-heading">8°- Cloud architect.</h2>


<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Profissional especializando em cloud, google cloud, amazon aws, Microsoft azure...</td>
      <td class="table-success">110 mil dolares</td>
    </tr>


  </tbody>
</table>



<h2 class="section-heading">7°– Backend develop.</h2>


<table class="table table-bordered">
  <thead>
    <tr>

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Programadores que desenvolvem códigos para aplicações em geral.</td>
      <td class="table-success">101 mil dólares </td>
    </tr>


  </tbody>
</table>



<h2 class="section-heading">6°- full stack engineer.</h2>


<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Profissional que trabalha com banco de dados e melhoria de apresentação ou navegação para usuários finais. Front e back.</td>
      <td class="table-success">105 mil dolares</td>
    </tr>


  </tbody>
</table>



<h2 class="section-heading">5°- Data architect.</h2>

<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Profissional que entende muito sobre dados, inclusive a parte de designe criação desenvolvimento e gerenciamento de dados dentro de uma organização.</td>
      <td class="table-success">108 mil dolares</td>
    </tr>


  </tbody>
</table>



<h2 class="section-heading">4°- Data Engineers .</h2>


<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Profissionais que pegam dados crus e conseguem encontrar informação que vai ajudar a desenvolver algoritmos.</td>
      <td class="table-success">102 mil dólares</td>
    </tr>


  </tbody>
</table>




<h2 class="section-heading">3°- Data Scientist.</h2>


<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Expert em analisar dados e converter dados, planilhas ou banco de dados para soluções de negócios.</td>
      <td class="table-success">113 mil dólares</td>
    </tr>


  </tbody>
</table>




<h2 class="section-heading">2°- Machine learning engineer.</h2>


<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Criar softwares que conseguem rodar por conta própria de forma automatizada, sistemas que aprendem e rodam aprendem e rodam...</td>
      <td class="table-success">114 mil dolares</td>
    </tr>


  </tbody>
</table>




<h2 class="section-heading">1°- Inteligencia Artificial ou  IA/AI</h2>

<table class="table table-bordered">
  <thead>
    <tr >

      <th scope="col" class="table-danger">O que Faz?</th>
      <th scope="col">Salário Médio</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Aprende melhora e executa qualquer tipo de simulação cognitiva.</td>
      <td class="table-success">113 mil dólares</td>
    </tr>


  </tbody>
</table>

<h2 class="section-heading"> Alguns cursos Voltado para essas Áreas:</h2>



 <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><strong>Modelos de Machine Learning Python:</strong></div>
          <a target="_blank" class="links" href="https://go.hotmart.com/N69299136N">Clique aqui para Conhecer - 59,99R$ - (Promoção)</a>
        </div>
        <span class="badge bg-primary rounded-pill">87 Clicks</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><strong>Aprendizagem de Máquinas Python:</strong></div>
            <a target="_blank" class="links" href="https://go.hotmart.com/D69299063E">Clique aqui para Conhecer</a>
        </div>
        <span class="badge bg-primary rounded-pill">80 Clicks</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><strong>Data Science e Analitcs Python:</strong></div>
            <a target="_blank" class="links" href="https://go.hotmart.com/N63717222E?ap=b25b">Click aqui para Conhecer - (39R$ - promoção)</a>
        </div>
        <span class="badge bg-primary rounded-pill">120 Clicks</span>
      </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><strong>Automação(bot) com Python:</strong></div>
            <a target="_blank" class="links" href="https://go.hotmart.com/C69121058Q">Click aqui para Conhecer</a>
        </div>
        <span class="badge bg-primary rounded-pill">70 Clicks</span>
      </li>

 </ol>

<h3>Está iniciando Na Programação?</h3> <a class="links" href="https://flasksite2022.herokuapp.com/post">Clique aqui e Veja Essa 12 Dicas de um Profissional da área.</a>
{%endblock%}