{%extends "basepost.html" %}
{%block titulo%}
<h1 style="margin-top: -120px;">12 Dicas de como ser um Dev em 2022 e conseguir o primeiro emprego</h1>
{%endblock%}
{%block post%}
<p>Primeiro, eu gostaria de lembrar o que me diziam para fazer, pra conseguir o meu primeiro emprego:</p>
                        <p> - Pessoa: aprenda html, css, js,bootstrap, react, php,sql, mongo db, angula, pra ter o primeiro emprego.</p>
                        <p>- Eu: ta, já aprendi...</p>
                        <p>- Pessoa: agora aprenda: cloud, aps.net, laravel, java, spring boot.</p>
                        <p> - Eu: q ??????? Kkkk assim vou ter q passar 10 anos estudando pra poder ter um emprego kkk.</p>
                        <br>
                        <blockquote class="blockquote">Pelo menos comigo foi assim, e eu vejo que as pessoas continuam dizendo e dando essas mesmas dicas, mas veja agora os passos que eu segui para
            conseguir o meu melhor emprego na área e que eu tornaria a fazer se estivesse começando hoje.</blockquote>


                        <h2 class="section-heading">1 – Aprenda uma linguagem de programação que te agrade<br> (e que esteja com bastante vagas no mercado)</h2>
                        <p>Essa dica técnica é essencial, ao contrário do que foi dito acima que você deve aprender muitas línguas e frameworks eu te digo, foque em ser o melhor que puder em uma linguagem. Afinal, você acha que os contratantes iriam preferir para uma vaga de python, um cara que sabe, um pouco de python, um pouco de java, um pouco de js, de php, ou um cara que diz: ‘eu sei python.’ ??? Fica o questionamento.</p>


                        <a href="#!"><img class="img-fluid" src="static/vaga1.jpg" alt="..." /></a>
                        <a href="#!"><img class="img-fluid" src="static/vaga2.jpg" alt="..." /></a>
                        <a href="#!"><img class="img-fluid" src="static/vaga3.jpg" alt="..." /></a>
                        <span class="caption text-muted">Pesquisadas apenas no Linkedin</span>


                        <h2 class="section-heading">2 – Domine essa linguagem. </h2>
                        <p>essa dica complementa a primeira, mas o que seria dominar essa linguagem? Dominar a linguagem seria no mínimo ter os conhecimentos
                        básicos e intermediários dela, exemplo: poo da linguagem.</p>

                        <h2 class="section-heading">3 - Pare de andar em círculos.</h2>
                        <p> Pare de ficar vendo o mesmo conteudo em linguagens diferentes.
                        Muitas pessoas já me relataram terem comprado
                        vários e vários cursos na internet de várias
                        linguagens e nunca sentirem progredir... Ta ai o
                        problema, você não deve ficar vagando de linguagem
                        em linguagem como também não deve vagar de curso
                        em curso, sobre os mesmos assuntos. – <strong>instalação do
                        python, variáveis, estruturas logicas, estruturas de
                        repetição, coleção, funções...</strong>
                        Depois vai para outro curso e começa a ver as
                        mesmas coisas e de novo e de novo e de novo e nunca sai do lugar.</p>
                        <h2 class="section-heading">4 – Em conjunto com o aprendizado da linguagem,
                        busque áreas que você pode trabalhar com aquela
                        linguagem, seja:</h2>

                        <table class="table table-hover">
                              <thead>



                              </thead>
                              <tbody>
                                <tr>
                                  <td>web</td>
                                  <td>Desktop</td>
                                  <td>Mobile</td>
                                </tr>
                                <tr>

                                  <td>Haking</td>
                                  <td>Data Science</td>

                                  <td>I.A</td>
                                </tr>

                              </tbody>
                        </table>
                        <p class="text-muted">Entre outras...</p>
                        <h2 class="section-heading">5- Conheça os frameworks da sua linguagem para
                        determinada área.</h2>

                        <p>Ex. Web: django, flask, web2py</p>
                        <p>testes/ automação de processos: selenium, pytest, unittest</p>
                        <p>data scientist:pandas, numpy, scikit</p>
                        <p>game developer: pygame, pyopengl, kivy</p>
                        <p>ethical hacker: scapy, flowgrep, subbrute</p>

                        <h2 class="section-heading">6 - Converse com pessoas mais experientes</h2>
                        <p>Sempre tem alguém mais experiente que você, que pode te
                    dar uma ou outra boa dica de como se desenvolver melhor.</p>


                        <h2 class="section-heading">7 –Tenha um Github.</h2><p>
                        Hospede seus códigos para que outros possam ver e
                        contribuir para você aprender mais e também procurar
                        projetos para estudar.</p>


                        <h2 class="section-heading">8 – Desenvolva projetos reais e que tenha usabilidade.</h2>
                        <p>
                            Não adianta ficar nos mesmos projetinhos bobos: fazer
                            cálculos em geral, fazer joguinhos em cmd, páginas de
                            login, ficar só no crud. Procure um projeto real, resolva
                            um problema, algo que seja relevante (geralmente nos
                            cursos existem projetos assim).</p>


                        <h2 class="section-heading">9 -Linkedin.</h2>
                        <p>Adicione pessoas da sua Área de interesse.
                    Essa também é uma dica muito importante. Uma rede social
                    indispensável para programador, aqui você pode se
                    conectar com pessoas que tem o mesmo estilo de profissão
                    que você, vai ampliar sua rede de contatos, aqui, você vai
                    achar, e também você vai ser achado por recrutadores,
                    poste aqui seus projetos, e deixe que comentem e faça novas
                    amizades com pessoas do seu mesmo interesse profissional.
                    (recebo em média uma proposta de emprego por mês pelo
                    linkedin)</p>
                        <a href="#!"><img class="img-fluid" src="static/prop1.png" alt="..." /></a>
                        <a href="#!"><img class="img-fluid" src="static/prop2.png" alt="..." /></a>
                        <a href="#!"><img class="img-fluid" src="static/prop3.png" alt="..." /></a>

                        <h2 class="section-heading">10 – Procure por vagas na área que você deseja, veja os pontos
                        incomuns entre elas e foque em aprender o conteúdo que
                        mais aparece.</h2>
                        <p>Aqui é uma boa hora para ver o que mais se pede no mercado
                        para você agregar ao seu currículo, veja se uma vaga pra
                        <strong>Python web </strong>pede: <strong>Python(obviamente), Django, mongodb, sql,
                        css</strong>
                        E esse padrão se repete, e uma ou outra pede flask,
                        obviamente que você vai aprender o que mais se repetir nas
                        vagas.
                            ps: Uma vez fiz um <strong>bot</strong> e usei <strong>webscraping</strong> para filtrar vagas
                        de <strong>Pythone</strong> seus requisitos, já entroucomoportfóliopra mim.</p>



                        <h2 class="section-heading">11 –Siga Um Cronograma de Estudos.</h1>
                        Essa dica é a mais importante de todas, ter um
                        cronograma para te guiar do ponto de saída até o de
                        chegada é muito importante para você medir seu
                        aprendizado.</h2>
                            <p>E por que você acha que existe conteúdo
                        Pago e conteúdo grátis? Antes, eu achava que eu
                        poderia aprender tudo com o Youtube de graça, de fato,
                        aprendi muita coisa, mas também perdi muito tempo
                        aprendendo coisas sem valor para minha vida
                        profissional, aprendendo coisas que estavam muito
                        além do meu nível, que eu n saberia aplicar, conteúdos
                        isolados, e etc. Há muitas explicações para existir cursos
                        pagos e eu vou te dar só algumas e você analisa se faz sentido para você.</p>



                        <h5 class="subtitle">11.1 - O conteúdo é trabalhado e didaticamente
                        apresentado por pessoas preparadas ao ensino. (não é
                        porque o cara é um bom profissional que ele vai ser um
                        bom instrutor/professor degraçano youtube)</h5>
                        <h5 class="subtitle">11.2 – O conteúdo tem sequência, engloba desde o
                        básico ao avançado</h5>
                        <h5 class="subtitle">11.3 – Você não corre o risco de ficar correndo em
                        círculos.</h5>

                        <h2 class="section-heading">12 –Faça um currículo legal.</h2>
                        <p>Hoje em dia acabou aquela história de currículo preto e
                        branco, com as informações pessoais no meio e os
                        dados na esquerda, seja criativo, mas com calma, não
                        deixe visualmente sujo, se não tiver experiencias para
                        preencher, coloqueprojetos,portfolioque tiver.</p>


                        <h2 class="section-heading">13 (Dica Bonus) – Os cursos que mudaram minha vida profissional</h2>
                        <p> Os Cursos que mudaram minha vida profissional não foram os mais caros, porque eu não tinha tanta
                        grana para investir, então eu pesquisei muito para achar
                        os melhores em cada área que eu precisasse e vou listar
                            para vocês (links clicáveis):</p>

                            <ol class="list-group list-group-numbered">
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong>Python do básico ao avançado Danki cod (Django e
                        Automação (bots):</strong></div>
                              <a target="_blank" href="https://hotm.art/cursocompletodepython">Clique aqui para Conhecer</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">64 Clicks</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong>Python Academy:</strong></div>
                                <a target="_blank" href="https://go.hotmart.com/N63719405J">Clique aqui para Conhecer - (em Promoção $47,00)</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">80 Clicks</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong>PythonCompleto:</strong></div>
                                <a target="_blank" href="https://hotm.art/formacaoempython">Click aqui para Conhecer</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">38 Clicks</span>
                          </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong>Formação Java Full Stack e Spring Boot:</strong></div>
                                <a target="_blank" href="https://hotm.art/javaspringboot">Click aqui para Conhecer</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">40 Clicks</span>
                          </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong>PHP:</strong></div>
                                <a target="_blank" href="https://hotm.art/cursoPHPcompleto">Click aqui para Conhecer</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">31 Clicks</span>
                          </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold"><strong> FullStack Js:</strong></div>
                                <a target="_blank" href="https://hotm.art/FullStackJScompleto">Click aqui para Conhecer</a>
                            </div>
                            <span class="badge bg-primary rounded-pill">60 Clicks</span>
                          </li>
                        </ol>


                        <h2 class="section-heading">Pra finalizar, olha que legal que eu
                        recebi da empresa que eu estou
                        trabalhando:</h2>

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                  <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              </ol>
                                <div class="carousel-item active">
                                  <img class="d-block w-100" src="static/presente1.png" alt="Primeiro Slide">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="static/seg.png" alt="Segundo Slide">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="static/kit.png" alt="Terceiro Slide">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                              </a>
{%endblock%}